[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
numpy = {version='==2.2.6', index='pypi'}
mistralai = {version='==1.8.2', index='pypi'}
requests = {version='==2.32.4', index='pypi'}
faiss-cpu = {version='==1.11.0', index='pypi'}
nltk = {version='==3.9.1', index='pypi'}
ipykernel = {version='==6.29.5', index='pypi'}
jupyter = {version='==1.1.1', index='pypi'}
matplotlib = {version='==3.10.3', index='pypi'}
seaborn = {version='==0.13.2', index='pypi'}

[dev-packages]

[requires]
python_version = '3.10'
